<div class="row">
  <div class="col-md-6 offset-md-3">
    <h3>Login</h3>
    <hr>
    <form [formGroup]="formAuth" (ngSubmit)="onLogin()">
      <div class="mb-3">
        <label for="email">Email</label>
        <input type="text" class="form-control" formControlName="email"/>
        <span class="text-danger" *ngIf="invalidInput('email')">{{ emailErrorMsg }}</span>
      </div>
      <div class="mb-3">
        <label for="password">Password</label>
        <input type="password" class="form-control" formControlName="password"/>
        <span class="text-danger" *ngIf="invalidInput('password')">{{ passwordErrorMsg }}</span>
      </div>
      <div class="mb-3">
        <button class="btn btn-primary" type="submit" [disabled]="!formAuth.valid">Enter</button>
      </div>
    </form>
  </div>
</div>
